.card-container {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    padding: 40px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    height: 340px;
    width: 340px;
}

.card::after {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    border-radius: inherit;
    z-index: 1;
}

.card-caption {
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
}

.card-img {
    border-radius: inherit;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-title {
    color: #fff;
    max-width: 176px;
}


@media screen and (max-width: 400px) {
    .card-container {
        padding: 0;
        background: transparent;
    }
}
