* {
    box-sizing: border-box;
}

body {
    color: #FF6060;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

h1, .h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.1;
}

h2, .h2 {
    font-size: 36px;
}

h3, .h3 {
    font-size: 24px;
}

h4, .h4 {
    font-size: 18px;
}

a {
    color: #FF6060;
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 20px;
}

.bg-light {
    background: #F7F7F7;
}

.rounded-xl {
    border-radius: 25px;
}

.rounded-md {
    border-radius: 10px;
}

.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}
